$txt-color: #000000;
$txt-color-alt: #696768;

$bg-color: #ffffff;
$gray-100: #e8e8e9; // sidebar bg
$gray-200: #d2d0d1; // card
$gray-300: #d2d1cf; // search input
$gray-400: #cac6c7; // active list

$main-font: "Inter", sans-serif;
$title-font: "Varela Round", sans-serif;

$sidebar-width: 350px;
