@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.card {
  background: v.$gray-200;
  padding: 10px;
  color: v.$txt-color-alt;
  border-radius: 10px;
  .upper {
    @include m.flex(row, space-between);
    margin-bottom: 5px;
    .count {
      font-weight: 800;
      font-size: 1.2rem;
    }
  }
  .title {
    font-weight: 600;
  }
}
