@use "../../../../styles/variables" as v;
@use "../../../../styles/mixins" as m;

$checkWidth: 25px;
$gap: 20px;

.task {
  @include m.flex(row, flex-start);
  gap: $gap;
  button {
    height: $checkWidth;
    aspect-ratio: 1;
    border: 1px solid v.$gray-300;
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    place-items: center;
    .inner {
      height: 60%;
      width: 60%;
      border-radius: 50%;
    }
    &:hover,
    &.completed {
      border: 2px solid v.$txt-color-alt;
      .inner {
        background: v.$txt-color-alt;
      }
    }
  }
  input {
    padding: 12.5px 2.5px;
    border-bottom: 1px solid v.$gray-300;
    width: calc(100% - $checkWidth - $gap);
  }
  .check {
    cursor: pointer;
  }
}
